// Fonts
$font-stack: 'Inter', sans-serif;
$primary-font-size: 1.5em; // Title
$secondary-font-size: 1.2em; // Body, Button's texts

// Colours
$bg-colour: #040C17; // Background
$primary-colour: #CAE2FF; // Texts
$secondary-colour: white;
$ui-primary-colour: #9DB3FF; // Buttons, etc
$ui-secondary-colour: #1F306A; // Texts inside the button

$ui-primary-colour-hover: #7F94FF; // Hovered buttons