@import "../SCSS/variables";
@import "../SCSS/grids";

.grid-container {
    .header {
        grid-area: header;

        // Change navbar's colour and make it have blur
        background: rgba(36, 36, 36, 0.10);
        backdrop-filter: blur(13.5px);
        border-bottom: 2px solid #132434;

        align-self: center; // Vertically centre

        // Make it always top and be on top (z-index)
        position: sticky;
        top: 0;
        z-index: 100; /* Ensure it's above other elements */
        overflow-anchor: none;

        #current-page-title {
            margin-left: 3em;
            color: $primary-colour;
            font-size: $secondary-font-size;
        }
    }
}